body{
    background-color: #E9C46A;
}
img{
    float: right;
    width: 450px;
    height: 730px;
    margin: 1px 1px 1px 1px;
}
table{
    float: left;
    border-color: #264653;
    border-radius: 10px;
    border-width: 10px;
    width: 1050px;
    height: 720px;
}
.top{
    width: 107PX;
    background-color: #264653;
}
.time{
    height: 50px;
    background-color: #F4A261;
}
td{
    background-color: #2A9D8F;
}

.subj{
    background-color: #E76F51;
}
